.login-page {
    background-color: #dcdcdc;
}

@media only screen and (max-width: 480px) {
    .login-box {
        width: max-content;
        position: absolute;
        background-color: white;
        padding: 3rem;
        top: 25%;
        left: 20%;
        font-size: 2rem;
        border-radius: 1rem;
    }
    .text-box {
        width: 20rem;
        font-size: 2rem;
    }
}